* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
  background-color:#849d8f;
}

.site-wrapper{
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;

  transition: background-image 0.5s ease, background-color 0.5s ease;
} 

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

/*как это работает????*/
.visually-hidden{  
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

a{
  color:#ffffff;
}

a:hover,
a:focus{
  color:#ffbc9e;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;  
  padding: 0 2.3%;  
}
.header-information{
  line-height: 24px;
  position: absolute;
  top: 70px;
  right: 2.2%;
  text-align: right;
}
.main-header{
  display: flex;
  position: relative;
  margin-top: 10px;
  /* margin-bottom: 60px; */
  /* Не забудь это исправить! */
  /* height: 100px; */
}

.main-navigation{
  display: flex;

  line-height: 18px;
  color:#ffffff;
}

.main-navigation .logo{
  margin-right: 10px;
}

.site-navigation{
  display: flex; 
  padding: 0px; 
}

.site-navigation li{
  padding: 7px 14px;

}

.site-navigation li:hover{
  border-radius: 50px;  
  background-color: #f7f6f3;
}

.site-navigation li:hover a{
  color: #323232;
}

.user-navigation{
  display: flex;
  
}

.site-navigation,
.site-navigation-sub{
  list-style: none;
}

.site-navigation a{
  color: #ffffff;
  font-weight: 700;
}

.site-navigation-sub{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;

  margin-top: 10px;
  width: 143px;
  height: 171px;  
  background-color: #ffffff;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);  

}

.site-navigation-sub li{
  height: 28px;
  margin-bottom: 3px;
  padding-left: 21px; 
  padding-top: 5px;
  
  vertical-align: center;
  
}

.site-navigation-sub li:hover{
  background-color: #fbded8;
}

.new-product::after{
  content: " ";  
  width: 128px;
  border-bottom: 1px solid #d1d0ce;
  margin-top: 12px;
  margin-left: -13px;
  display: block;
}

.site-navigation-sub li:first-child{
  border-radius: 5px 5px 0 0;  
  padding-top: 12px;
  height: 41px;
}

.site-navigation-sub li:first-child a{
  font-weight: 700;
}

.site-navigation-sub a{
  color: #323232;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;  
}

.nav-sub-container{
  position: absolute;
  top: 35px;
  display: none;  
  z-index: 1;
}

.catalog{
  position: relative;
}

.catalog:hover .nav-sub-container{
  display: block;
}

.nav-sub-container:hover + .nav-sub-container{
  display: block;
}

.user-navigation{
  margin-left: auto;
}

.user-navigation a{
  color: #323232;
}

.header-information span{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.header-information .tel{
  font-size: 22px; 
  line-height: 24px;
}

.visually-hidden-input{
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.search{
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.search svg{
  position: absolute;
  top: 7px;
  left: 7px;
}

.search:hover{
  background-color: #ffffff;  
}

.search:hover path {
  fill: #323232;
}

.search-container{
  position: relative;
  z-index: 1;
}

.search-container:hover  .search-dropdown{
  display: block;
}



.slide{
  display: none;
}

.slider{
  position: relative;
  
  padding-top: 321px;

  text-align: center;  
  color: #ffffff;   
  margin-bottom: 40px;
}

.slider-list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-tittle{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls{
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover{
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}

.button{
  display: inline-block;
 
  font-weight: 600;
  
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;  
}

.slide-button{
  padding: 12px 44px;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 31px;
  line-height: 41px;
}

.button:focus{
  color: #ffffff;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-containter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.promo{
  padding: 17px 20px;
  border-radius: 15px;
  height: 229px;
  width: 48.9%;    
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  
}
.promo h2{
  font-size: 35px;
  line-height: 41px;  
  margin: 0;  
}

.promo-item-1{
  position: relative;
  background-image: url("../img/promo-item-1.jpg");
  background-repeat: no-repeat;  
  margin-right: 2.2%;
}

.promo-item-2{
  position: relative;
  background-image: url("../img/promo-item-2.jpg");
  background-repeat: no-repeat;  
}

.button-promo{  
  padding: 12px 22px;

  

  position: absolute;
  bottom: 23px;
  right: 20px;
}

.product-list{ 
  position: relative;
  padding: 0;  
  margin: 0;
  display:flex;  
  /* justify-content: space-between; */
  flex-wrap: wrap;
  list-style: none;
  /* margin-bottom: 40px; */
}

.product-item img{
  border-radius: 50%;
}

.hit .product-item::before{
  position: absolute;
  width: 61px;
  height: 61px;
  content: url("../img/hit.svg")
}

.product-item{
  position: relative;
  color: #ffffff;
  width: 25%;   /*23.2%;   */
  padding: 0 0.9%; 
  padding-bottom: 83px;
}

.product-item p{
  
  margin: -60px 0px 0px 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);  
}

.product-item .price-tittle{
  display: inline-block;
  text-align: center;
}

.product-item .metric{
  font-size: 30px;
}

.product-item:hover{
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.product-item:hover .item-button-container{
  display: block;
}

.product-item-button{    
  padding: 12px 18px; 
  cursor: pointer;  
}

.item-button-container{
  display: none; 
  position: absolute; 
  width: 100%;
  bottom: 22px; 
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;  
}

.features{
  background-image: url("../img/pattern-wafer.png");
  min-height: 305px;
  border-radius: 10px;
  padding: 25px 20px;
  margin-top: -40px;
  margin-bottom:40px;
}

.features-tittle{
  margin: 0;
  padding: 0;
}

.features-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item{
  width: 48.9%;
  flex-shrink: 0;
  padding-left:55px;
}

.ice-cream::before{
  position: absolute;
  content: url("../img/ice-cream.svg"); 
  margin-left: -55px;
}

.eco::before{
  position: absolute;
  content: url("../img/eco.svg"); 
  margin-left: -55px;
}

.cow::before{
  position: absolute;  
  content: url("../img/cow.svg");
  margin-left: -55px;  
}

.thermometer::before{
  position: absolute;  
  content: url("../img/thermometer.svg");
  margin-left: -55px;  
}

.blog-container{
  display: flex;
  justify-content: space-between;  
  margin-bottom: 40px;
}

.blog{
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background-color: #ffffff;
  background-image: url("../img/block-background.jpg");
  background-repeat: no-repeat;  
  width: 48.9%; 
  min-height: 220px;  
  margin-right: 2.2%; 
  padding: 25px 20px;
}

.blog h2{
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}

.blog a{
  margin: 0;
  color: #323232;
}

.subscribe{
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  min-height: 220px;
  width: 48.8%;
  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
  #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
  
}

.subscribe-background{
  display: inline-block;  
  border-radius: 10px;
  background-color: #f8f7f4;
  height: 100%;
  padding: 30px 20px;
   
}

.subscribe-background p{
  margin: 0;
}

.map{
  margin: 0 -2.2% ;
  position: relative;
  min-height: 430px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map-address{
  position: absolute;
  right: 2.2%; 
  width: 300px;
  background-color: #fdfefe;
}

.map-address p{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;  
}

.map-address b{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; 
}

.footer-social ul{
  list-style: none;
}

.info ul{
  list-style: none;
}

.info a{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;  
}

.main-footer{
  display: flex;
  color:#ffffff;
}

.user-navigation section{
  background-color: #f8f7f4;
}

.modal{
  background-color: #f8f7f4;
}

.search-dropdown{
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  padding: 20px 15px; 
  
}

.search-dropdown input{
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 15px;  
  
}

.user-login-dropdown{
  display: none;
  
}

.cart-dropdown{
  display: none;
}