*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
  background-color:#849d8f;
}

.site-wrapper{
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;

  transition: background-image 0.5s ease, background-color 0.5s ease;
} 

.site-wrapper::before,
.site-wrapper::after{
  content: "";
  visibility: hidden;
}

.site-wrapper::before{
  background-image: url("../img/ice-cream-2.png");
}

.site-wrapper::after{
  background-image: url("../img/ice-cream-3.png");
}

.visually-hidden{  
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;  
}

a{
  color:#ffffff;
  text-decoration: none;
}

a:hover,
a:focus{
  color:#ffbc9e;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;  
  padding: 0 2.3%;  
}
.header-information{
  line-height: 24px;
  position: absolute;
  top: 70px;
  right: 2.2%;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;  
}

.header-information p{
  margin: 0;
  margin-top: 3px;
}

.main-header{
  display: flex;
  position: relative;
  padding-top: 10px;
  padding-left: 2.3%;
  padding-right: 2.3%;
}

.main-navigation{
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  color:#ffffff;
}

.main-navigation .logo{
  margin-right: 10px;
}

.site-navigation{
  margin-top: 13px;
  display: flex; 
  padding: 0px; 
}

.current{
  padding: 7px 14px; 
  border-radius: 50px;  
  background-color: #d07058;
}

.current a{
  text-decoration: none;
  margin-top: 0;
}

.current .site-navigation{
  border: 0;
}

.site-navigation li{
  padding: 7px 14px;
  height: 32px;
}

.site-navigation li:hover{
  border-radius: 50px;  
  background-color: #f7f6f3;
}

.site-navigation li:hover a{
  color: #323232;
  border: 0;  
}

.site-navigation .current:hover{
  background-color: #d07058;  
}

.site-navigation-sub .checked{
  background-color: #d07058;
}

.user-navigation{
  display: flex;
  margin-left: auto; 
  margin-top: 13px; 
}

.user-navigation div{
  margin-left: 10px;
}

.site-navigation,
.site-navigation-sub{
  list-style: none;
}

.site-navigation a{
  color: #ffffff;
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
}

.site-navigation-sub{
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  margin-top: 2px;
  width: 143px;
  height: 171px;  
  background-color: #ffffff;
  color: #323232;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);  
}

.site-navigation-sub li{
  height: 28px;
  margin-bottom: 3px;
  padding-left: 21px; 
  padding-top: 5px;  
  vertical-align: center;  
}

.site-navigation-sub li:hover{
  background-color: #fbded8;
  border-radius: 0;
}

.new-product::after{
  content: " ";  
  width: 128px;
  border-bottom: 1px solid #d1d0ce;
  margin-top: 12px;
  margin-left: -13px;
  display: block;
}

.site-navigation-sub li:first-child{
  border-radius: 5px 5px 0 0;  
  padding-top: 12px;
  height: 41px;
}

.site-navigation-sub li:first-child a{
  font-weight: 700;
}

.site-navigation-sub a{
  color: #323232;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;  
}

.nav-sub-container{
  position: absolute;
  top: 35px;
  left: -7px;
  display: none;  
  z-index: 1;
}

.catalog{
  position: relative;
}

.catalog:hover .nav-sub-container{
  display: block;
}


.user-navigation a{
  color: #ffffff;
}

.header-information .tel{
  font-size: 22px; 
  line-height: 24px;
}

.search{
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  
}

.search-input{
  background-color: #ffffff;
}

.search svg{
  position: absolute;
  top: 7px;
  left: 7px;
}

.search:hover{
  background-color: #ffffff;  
}

.search:hover path{
  fill: #323232;
}

.search-container{
  position: relative;
  z-index: 1;
}

.search-container:hover  .search-dropdown{
  display: block;
}

.search-container:hover .search{
  background-color: #f8f7f4;
  color: #323232;
}

.search-container:hover path{
  fill: #323232;    
}

.login-container{
  position: relative;
  z-index: 1;
}


.login{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: block;
  width: 93px;
  height: 32px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 44px;
  padding-top: 8px;
}

.login svg{
  position: absolute;
  top: 6px;
  left: 16px;
}

.login path{
  fill: #ffffff;    
}

.login-container:hover .user-login-dropdown{
  display: block;
}

.login-container:hover .login{
  background-color: #f8f7f4;
  color: #323232;
}

.login-container:hover path{
  fill: #323232;    
}

.login-refer{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 21px;
  right: 20px;
  font-size: 13px;
  line-height: 24px;
}

.login-refer a{
  color: #323232;
  text-decoration: underline;
}

.cart{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: block;
  width: 117px;
  height: 32px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 44px;
  padding-top: 8px;
}

.cart svg{
  position: absolute;
  top: 6px;
  left: 16px;
}

.cart-table{
  font-size: 13px;
  line-height: 16px;
}

.table-tittle{
  display: inline-block;
  vertical-align: center;
  width: 230px;
  margin-right: 20px;
}

.price-per-kg{
  color: #999999;
}

.table-price{
  display: inline-block;
  width: 100px;
  margin: 0;
  margin-right: 20px;
}

.cart-table img{
  border-radius: 50%;
  margin-right: 10px; 
}

.cart-table{
  width: 511px;
}

.sum{
  width: 120px; 
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  display: block;
  position: absolute;
  bottom: 80px;
  right: 5px;  
}

.sum::before{
  content: " ";
  width: 511px;
  display: block;
  border-top: 1px solid #999999;
  margin-left: -400px;
  margin-bottom: 10px;
}

.button-close{
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin-right: 10px;
}

.cart-dropdown .button{
  display: block;
  position: absolute;
  bottom: 20px;
  right: 15px;
  padding: 12px 15px;
}

.slide{
  display: none;
}

.slider{
  position: relative;  
  padding-top: 315px;
  text-align: center;  
  color: #ffffff;   
  margin-bottom: 40px;
}

.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-tittle{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls{
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover{
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3{
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"]{
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper{
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}

#product-2:checked ~ .site-wrapper{
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}

#product-3:checked ~ .site-wrapper{
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}

.button{
  display: inline-block; 
  font-weight: 600;  
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;  
}

.slide-button{
  padding: 12px 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  font-size: 31px;
  line-height: 41px;
}

.button:focus{
  color: #ffffff;
}

.button:hover{
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button:active{
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-containter{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.promo{
  padding: 17px 20px;
  border-radius: 15px;
  height: 229px;
  width: 48.9%;    
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;  
}

.promo p{
  margin-top: 15px;
}

.promo h2{
  font-size: 35px;
  line-height: 41px;  
  margin: 0;  
}

.promo-item-1{
  position: relative;
  background-image: url("../img/promo-item-1.jpg");
  background-repeat: no-repeat;  
  margin-right: 2.2%;
}

.promo-item-2{
  position: relative;
  background-image: url("../img/promo-item-2.jpg");
  background-repeat: no-repeat;  
}

.button-promo{  
  padding: 12px 22px;
  position: absolute;
  bottom: 23px;
  right: 20px;
}

.product-list{ 
  position: relative;
  padding: 0;  
  margin: 0 -13px;  
  display:flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.product-item img{
  border-radius: 50%;
  width: 100%;
}

.hit .product-item::before{
  position: absolute;
  width: 61px;
  height: 61px;
  content: url("../img/hit.svg")
}

.product-item{
  position: relative;
  color: #ffffff;
  width: 25%;   /*23.2%;   */
  padding-left: 1.2%;
  padding-right: 1.2%;
  padding-top: 1.2%;
  padding-bottom: 83px;
  margin-top: -60px;
}

.product-item:nth-child(-n+4){
  margin-top: 0;
}

.product-item p{  
  margin: -63px 0px 0px 0px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: left;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);  
}

.product-item .price-tittle{
  display: inline-block;
  text-align: center;
  margin-top: 22px;  
  width: 100%;
}

.price-tittle .item-refer{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product-item .metric{
  position: relative;
  font-size: 30px;
  margin-left: 23px;
}

.product-item .metric::before{
  position: absolute;
  content: url("../img/ruble.svg");
  width: 26px;
  height: 32px;
  left: -32px;
  top: -4px;
}

.product-item:hover{
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.product-item:hover .item-button-container{
  display: block;
}

.product-item-button{    
  padding: 12px 18px; 
  cursor: pointer;  
}

.item-button-container{
  display: none; 
  position: absolute; 
  width: 100%;
  bottom: 22px; 
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;  
}

.features{
  background-image: url("../img/pattern-wafer.png");
  min-height: 300px;
  border-radius: 10px;
  padding: 25px 20px;
  padding-bottom: 19px;
  margin-top: -45px;
  margin-bottom:40px;
}

.features-tittle{
  margin: 0;
  padding: 0;
  font: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}

.features-list{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item{
  width: 48.9%;
  flex-shrink: 0;
  padding-left:55px;
  margin-bottom: 5px;
}

.features-item p{
  margin-bottom: 0;
}

.ice-cream::before{
  position: absolute;
  content: url("../img/ice-cream.svg"); 
  margin-left: -55px;
  margin-top: 5px;
}

.eco::before{
  position: absolute;
  content: url("../img/eco.svg"); 
  margin-left: -55px;
  margin-top: 5px;  
}

.cow::before{
  position: absolute;  
  content: url("../img/cow.svg");
  margin-left: -55px;  
  margin-top: 5px;  
}

.thermometer::before{
  position: absolute;  
  content: url("../img/thermometer.svg");
  margin-left: -55px;  
  margin-top: 5px;  
}

.blog-container{
  display: flex;
  justify-content: space-between;  
  margin-bottom: 40px;
}

.blog{
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background-color: #ffffff;
  background-image: url("../img/block-background.jpg");
  background-repeat: no-repeat;
  background-position: 115% 25%;  
  width: 48.9%; 
  min-height: 220px;  
  margin-right: 2.2%; 
  padding: 25px 20px;
}

.blog h2{
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}

.blog a{
  display: block;
  margin: 0;
  color: #323232;
  width: 60%;
}

.subscribe{
  position: relative;
  margin: 0;
  padding: 5px;
  border-radius: 10px;
  min-height: 220px;
  width: 48.8%;
  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
  #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);  
}

.subscribe-background{
  display: inline-block;  
  border-radius: 10px;
  background-color: #f8f7f4;
  height: 100%;
  padding: 30px 20px;   
}


.subscribe-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 33px;  
}

.subscribe-background p{
  margin: 0;
}

.map{
  margin: 0 -2.2% ;
  position: relative;
  min-height: 430px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 18px;
}

.map-address{  
  margin-top: 62px;
  padding: 28px 27px;
  padding-bottom: 25px;
  position: absolute;
  right: 2.2%; 
  width: 302px;
  height: 305px;
  border-radius: 10px;
  background-color: #fdfefe;
}

.map-address p{
  width: 172px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;  
}

.map-address .bold{
  display: inline-block;
  width: 222px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; 
  margin-top: 3px;
  margin-bottom: 17px;
}

.map-address .order{
  margin-top: 0px;
}

.map-address .time{
  margin-top: -15px;
}

.map-address .button{
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
  width: 100%;
  padding: 10px 25px;
}

.info{
  width: 30%;
  margin-left: 16.1%;  
}

.info ul{
  list-style: none;
}

.info a{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;  
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
}

.main-footer{
  display: flex;
  color:#ffffff;
}

.footer-social ul{
  list-style: none;
}

.social-list{
  display: flex;
  width: 25%;
  padding: 0;
}

.social-button{
  display: block;
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 11px;
}

.social-button path{
  fill: #e6ebe9;
}

.social-button:hover path{
  fill: #ffffff;
}

.social-button:active path{
  fill: #e9e9e9;
}

.social-button:active{
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-copyright{
  position: relative;  
  margin-left: auto;
  width: 25%;
  text-align: right;
}

.footer-copyright a{
  width: 108px;
  height: 39px;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);  
}

.footer-copyright p{
  margin: 0;
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright .logo{
  position: absolute;
  left: 100px;
  border: 0;
}

.info-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  margin-top: 10px;
}

.info-list li{
  margin-right: 32px;
}

.info-vendor{
  position: relative;
}

.info-vendor a{
  font-weight: 700;
}

.info-vendor::before{
  content: url("../img/heart.svg");
  position: absolute;
  left: -20px;
  top: 3px;
}

.user-navigation section{
  background-color: #f8f7f4;
}

.breadcrumbs{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  list-style: none;
}

.breadcrumbs li{
  position: relative;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs li:after{
  content: "»";
  position: absolute;
  color: #ffffff;
  right: -14px;
}

.breadcrumbs a{
  border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

.breadcrumbs-current{
  color: #aba9a7;
}

.breadcrumbs-current a{
  border: 0;
}

.breadcrumbs-current::after{
  display: none;
}

main .tittle{
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  margin-bottom: 50px;
}

.filter{
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
  margin-bottom: 25px;
}

fieldset{
  position: relative;
  border: 0;
  padding: 0;
  margin: 0;
  height: 36px;
  color: #ffffff;
}

.filter-container{
  font-size: 16px;
  line-height: 18px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  margin-right: 15px; 
  padding: 8px 16px; 
}

.sorting-container{
  width: 193px;
  padding: 0;
  background-color: none;
}

.price-container{
  width: 218px;
}

.fat-container{
  width: 415px;
}

.fat-container label{
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-left: 30px;
  margin-right: 16px;
}

.fat-container input{
  display: none;
}

.fat-container label::before{
  content: "";  
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  left: -30px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 20px;
}

.fat-container input:checked + label::before{
  background-image: url("../img/radio-on.svg");
}

.filter-button{
  font-weight: 700;
  border-radius: 50px;
  height: 36px;
  padding: 0px 27px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.filter-button:hover{
  background-color: #fbfcfb;
  color: #323232;
}

.filter-button:active{
  background-color: #eaeaea;
  box-shadow: inset 0px 3px 1px 0px rgba(105, 105, 105, 1);
  border: 0
}

.filler-container{
  width: 702px;
}

.filler-container label{
  position: relative;   
  cursor: pointer;
  user-select: none;
  margin-left: 30px;
  margin-right: 20px;
}

.filler-container input{
  display: none;
}

.filler-container label::before{
  content: "";  
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: -31px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 20px;
}

.filler-container input:checked + label::before{
  background-image: url("../img/checkbox-on.svg");
}

.pagination-list{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 2px;
  margin-left: 10px;
  margin-bottom: 50px;
  list-style: none;
}

.pagination-list::after{
  content: "";
  position: absolute;
  left: -10px;
  top: 53px;
  width: 1146px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-list .preview{
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 7px; 
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: top center;
  transform: rotate(180deg);
  opacity: 0.3;
}

.pagination-list .next{
  width: 25px;
  height: 25px;
  position: absolute;
  padding: 0;
  top: 5px; 
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: top center;
}

.pagination-item{
  padding-left: 9px;
  margin-right: 3px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.pagination-item:first-child{
  margin-right: 14px;
}

.pagination-item:last-child{
  padding: 0;
  margin-left: 9px;
}

.pagination-item:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item a:hover{
  color: #ffffff;
}

.pagination-item-current{
  background-color: #ffffff;
}

.pagination-item a{
  text-decoration: none;  
}

.pagination-item-current a{
  color: #323232;    
}

.pagination-item:last-child{
  margin-right: 0;
}

.filter-form{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;  
  height: 110px;
  position: relative;
}

legend{
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: -25px;
  left: 16px;
}

.custom-select{
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: -20px;
  left: 16px;
}

.price-label{
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: -25px;
  left: 224px;
}

select{
  padding: 0 10px;
  color: #ffffff;
  width: 193px;
  height: 36px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
}

.range-line{
  position: relative;
  width: 175px;
  height: 4px;
  margin: 6px 0;
  margin-left: 5px;
  
  background: rgba(255, 255, 255, 0.5);
}

.range-control{
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 0;
  outline: 0;
  border-radius: 50%;
  cursor: pointer;
}

.range-control-first{
  left: 13px;
}

.range-control-second{
  right: 44px;
}

.modal{
  display: none;
  background-color: #f8f7f4;
  height: 442px;
  width: 477px;
  position: absolute;
  border-radius: 10px;
  top: 35%;
  left: 50%;
  margin-left: -238px;
  padding: 18px 25px;
  
}

.modal-feedback h2{
  margin: 0;
  margin-bottom: 20px;
}

.modal-feedback input{
  height: 44px;
  width: 62.4%;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 15px;  
  background-color: #ffffff;
  margin-bottom: 20px;
}

.modal-feedback textarea{
  width: 100%;
  height: 155px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 15px;  
  background-color: #ffffff;
  margin-bottom: 20px;
}

.modal-feedback button{
  display: block;
  margin-left: auto;
  padding: 12px 25px;
}

.search-dropdown{
  display: none;
  position: absolute;
  top: 37px;
  right: 0px;
  width: 341px;
  height: 84px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  padding: 20px 15px;   
}

.search-dropdown input{
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 15px;  
  background-color: #ffffff;  
}

.user-login-dropdown input{
  width: 100%;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 15px;  
  background-color: #ffffff;
  margin-bottom: 20px;  
}

.user-login-dropdown{
  display: none;
  position: absolute;
  top: 37px;
  right: -2px;
  padding: 20px 19px;   
  width: 277px;
  height: 214px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);   
}

.user-login-dropdown .button{
  font-size: 18px;
  line-height: 24px;
  height: 44px;
  padding: 13px 25px;
  border-radius: 40px;
}

.cart-dropdown{
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 541px;
  height: 243px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4); 
  padding: 20px 15px; 
}

.cart:hover{
  color: #323232;
  background-color: #ffffff;  
}

.cart-container:hover .cart{
  background-color: #f8f7f4;
  color: #323232;
}

.cart-container:hover path{
  fill: #323232;    
}

.cart-container:hover path{
  fill: #323232;
}

.cart-container:hover path:first-child{
  fill: #E84D37;
}

.cart-container{
  position: relative;
  z-index: 1;
}

.cart-container:hover  .cart-dropdown{
  display: block;
}

.subscribe input{
  flex-grow: 2;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 15px;  
  background-color: #ffffff;
  margin-right: 12px;   
}

.subscribe .button{
  flex-shrink: 0;
  padding: 13px 25px;
}

.cart-container:hover .cart-null{
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2)
}

.cart-container:hover .cart-null path{
  fill: #ffffff;
}

input{
  font-weight: 700;
}

input::placeholder{
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
textarea:hover{
  border: 2px solid #c7c6c5;
}

select:hover{
  color: #323232;
}

input:focus::placeholder,
textarea:focus::placeholder{
  color: #ffffff;
}

input,
select,
textarea,
button{
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.modal-feedback .modal-close{
  padding: 0;
  position: absolute;
  top: 15px;
  right: 16px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before{
  content: url("../img/x-big.svg");
}

.catalog-backlight{
  background-image: url("../img/backlight.png");
  background-repeat: repeat-x;
  background-position: top center;
}
