* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color:#323232;
  background-color:#849d8f;
}

.site-wrapper{
  min-width: 900px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
} 

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

a{
  color:#ffffff;
}

a:hover,
a:focus{
  color:#ffbc9e;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;  
  padding: 0 2.3%;  
}
.header-information{
  position: absolute;
  right: 2.2%;
}
.main-header{
  display: flex;
  position: relative;
  /* Не забудь это исправить! */
  height: 100px;
}

.main-navigation{
  display: flex;

  line-height: 18px;
  color:#ffffff;
}
.site-navigation{
  display: flex;
  
}

.user-navigation{
  display: flex;
  
}

.site-navigation,
.site-navigation-sub{
  list-style: none;
}

.site-navigation a,
.site-navigation-sub a{
  color: #ffffff;
}

.user-navigation a{
  color: #323232;
}

.header-information span{
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.header-information .tel{
  font-size: 22px; 
}
/* Временное правило!!!!!!!!!!! */
.slider .visually-hidden{
  display: none;
}

.visually-hidden-input{
  position: absolute;
  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.slide{
  display: none;
}

.slider{
  position: relative;
  
  padding-top: 321px;

  text-align: center;  
  color: #ffffff;   
}

.slider-list{
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-tittle{
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-controls{
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
}

.button{
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;  
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.promo-containter{
  display: flex;
  justify-content: space-between;
}

.promo{
  border-radius: 10px;
  min-height: 230px;
  width: 48.9%;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  
}
.promo h2{
  font-size: 35px;
  line-height: 41px;
}

.promo-item-1{
  background-image: url("../img/promo-item-1.jpg");
  background-repeat: no-repeat;
  margin-right: 2.2%;
}

.promo-item-2{
  background-image: url("../img/promo-item-2.jpg");
  background-repeat: no-repeat;
  
}

.product-list{ 
  padding: 0;  
  margin: 0;
  display:flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.product-item img{
  border-radius: 50%;
}

.product-item{
  color:#ffffff;
  width: 23.2%;  
}

.product-item b{
  font-size: 45px;
  line-height: 45px;
}

.product-item .metric{
  font-size: 30px;
}

.product-item:hover{
  border-radius: 5px;
  background-color:#9db1a5;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.features{
  background-image: url("../img/pattern-wafer.png");
  border-radius: 10px;
}

.features-list{
  list-style: none;
}

.blog-container{
  display: flex;
  justify-content: space-between;  
}

.blog{
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  background-color: #ffffff;
  background-image: url("../img/block-background.jpg");
  background-repeat: no-repeat;  
  width: 48.9%; 
  margin-right: 2.2%; 
}

.blog h2{
  font-size: 16px;
  line-height: 22px;
}

.blog a{
  color: #323232;
}

.subscribe{
  border-radius: 10px;
  width: 48.8%;
  background-color: #f8f7f4;
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 5px, #92cdff 5px,
  #92cdff 10px, #f8f7f4 10px, #f8f7f4 15px, #fe9e90 15px, #fe9e90 20px);
}

.map{
  margin: 0 -2.2% ;
  position: relative;
  min-height: 430px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
}

.map-address{
  position: absolute;
  right: 2.2%; 
  width: 300px;
  background-color: #fdfefe;
}

.map-address p{
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;  
}

.map-address b{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700; 
}

.footer-social ul{
  list-style: none;
}

.info ul{
  list-style: none;
}

.info a{
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;  
}

.main-footer{
  display: flex;
  color:#ffffff;
}

.user-navigation section{
  background-color: #f8f7f4;
}

.modal{
  background-color: #f8f7f4;
}

.search-dropdown{
  display: none;
}

.user-login-dropdown{
  display: none;
}